<div class="container">

  <div class="section-title">
    <h2>Projects</h2>
    <p>My Projects</p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1lnNWvR_4ImJ4mc0Mbtwu3Dje3B4umULl/view?usp=sharing" target="_blank">Weather App</a></h4>
        <p>Yet another weather app with Angular 9. With this application, you can look up the weather around the world by city name. It is a simple and minimalistic app built to get my self started with a Angular framework.</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="icon-box">
          <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1S8LjG_x2-L5XSvL2dDwT0XqOyEKkNuSP/view?usp=sharing" target="_blank">News App</a></h4>
        <p>This is a front end application built with React JS using Newsapi.org developer api. I have integrated the filter module to search betweeen different categories and sources (CNN, BBC NEws, ESPN, The Hindu, etc..,).</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1Sx5vB1y7o02kiNNLemEikqZcTxs1H-83/view?usp=sharing" target="_blank">Portfolio2
        </a></h4>
        <p>Designed and developed using Figma and React. Even though it is a static site, building this portfolio with react makes it more flexible, simple, and organised. </p>
      </div>
    </div>

    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1xUY2V0QgC6Y9A9ZZ0lIN9Zr8rHdLpIaG/view?usp=sharing" target="_blank">Foundational Artificial Intelligence</a></h4>
        <p>Certified Foundational Artificial Intelligence course by NASSCOM Foundation.</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1zAzXzAuQDDuSQ6kJE-8NxkgJikMsFAl8/view?usp=sharing" target="_blank">Fundamentals of Python and Introduction to MSP</a></h4>
        <p>Fundamentals of Python and Introduction to MSP Program by Microsoft.</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1h23bZCPV8IXMKipEDZnshbrNJc0V_UxT/view?usp=sharing" target="_blank">Technocrats Series with MSP MIET Jammu</a></h4>
        <p>Technocrats Series with MSP MIET Jammu by Microsoft.</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/1DJ9iwZxlWdvPEwU1Y9qWcRNhlrZWZoTb/view?usp=sharing" target="_blank">Certified Digital Skills</a></h4>
        <p>Artificial Intelligence course by Accenture.</p>
      </div>
    </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="icofont-certificate-alt-1"></i></div>
        <h4><a href="https://drive.google.com/file/d/14qmwo7kI3ZupUtbxjGDNSc3jzop6GK2X/view?usp=sharing" target="_blank">Web-Development Training</a></h4>
        <p>Training at Internshala on Web-Development.</p>
      </div>
    </div> -->

  </div>

</div>
