<div class="container">

  <div class="section-title">
    <h2>Resume</h2>
    <p>Check My Resume</p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h3 class="resume-title">Sumary</h3>
      <div class="resume-item pb-0">

        <p><em> Innovative software developer with experience in Angular 8/9, RXJS, and NGRX platform in frontend web development. A coding enthusiast with highly motivated and leadership skills having Masters of Science degree in Computer Science.  I am intrigued to learn more and actively contribute to significantly achieve and grow in organizations. </em></p>

      </div>

      <h3 class="resume-title">Education</h3>

      <div class="resume-item">
        <h4>Masters of Science, Computer Science </h4>
        <h5>2018 - 2019</h5>
        <p><em>Lamar University, Beaumont, Texas, USA </em></p>
        <!-- <p>I have completed my 2 year graduation degree in computer science with overall CGPA 3.9/4 </p> -->
      </div>
       <div class="resume-item">
        <h4>Bachelors of Technology, Aeronautical Engineering </h4>
        <h5>2013 - 2017</h5>
        <p><em>Manipal University, Manipal, Karnataka, India </em></p>
        <!-- <p>I have completed my 4 year graduation degree in aeronatucal engineering with overall CGPA 6.7/10 </p> -->
      </div>
      <div class="resume-item">
        <h4>Senior Education (12th) </h4>
        <h5>2011 - 2013</h5>
        <p><em>Narayana Junior College, Hyderabad, India </em></p>
        <!-- <p>I have completed my 12th from CBSE board with overall 9.3/10 </p> -->
      </div>


      </div>
    <div class="col-lg-6">
      <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
        <h4>Front-End Developer, Caterpillar Inc</h4>
        <h5>April'2020 - Oct'2020 </h5>
        <p><em>Peoria, Illinois </em></p>
        <p>
        <ul>
          <li>Involved in developing enterprise application using Angular 8/9, RXJS, and NGRX platform</li>
          <li>Implemented reusable components such as Color Picker, Dropdown Menu, Date Time Picker, Flyout Popup, Tooltip and skeleton loader, etc.</li>
          <li>Worked on Translations Services and created POCs for Charts, Skeleton loaders, Kanban Board, and Importing libraries via CDN.</li>
        </ul>

      </div>
      <div class="resume-item">
        <h4>Software Developement Intern, Family Pharmacy</h4>
        <h5>Feb'2020 - March'2020 </h5>
        <p><em>Vidor, Texas </em></p>
        <p>
        <ul>
          <li>Developed an Internal Application GUI using Angular 2+, Bootstrap, HTML5, CSS3 as a part of current project.</li>
          <li>Design and development of new UI components, responsive web-based applications using bootstrap.</li>
          <li>Performed Unit testing, involved in preparing documentation for UI testing.</li>
        </ul>

      </div>
       <div class="resume-item">
        <h4>Web Developer, KATE Technologies</h4>
        <h5>June'2016 - Nov' 2017</h5>
        <p><em>Hyderabad, India </em></p>
        <p>
        <ul>
          <li>Worked on their internal dashboard application to keep track of their customers accounts. </li>
          <li>Designed layouts, build wizards, and developed various dynamic web pages.</li>
          <li>	Developed cross-browser compatible website using HTML, CSS, and JavaScript. </li>

        </ul>

      </div>



    </div>
  </div>

</div>
