<header id="header" class="header-tops">
  <div class="container">

    <h1><a href="index.html">Kartheek G</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    <h2>I'm a passionate <span>Front-End Developer</span> </h2>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/resume">Resume</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/contact">Contact</a></li>
   </ul>
    </nav><!-- .nav-menu -->

    <div class="social-links">

      <a href="https://www.linkedin.com/in/kartheek-g-36197186/" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://github.com/kartheekl68" target="_blank" class="fa fa-github"></a>
      <a href="mailto:kartheekl68@gmail.com" target="_blank" class="fa fa-google-plus"></a>
      <a href="https://www.instagram.com/kar_thinks/" target="_blank" class="fa fa-instagram"></a>
      <a href=" https://twitter.com/kartheekl68" target="_blank" class="fa fa-twitter"></a>

    </div>

  </div>
</header><!-- End Header -->
